.dashboard {
  &__title {
    margin-bottom: clamp(0.625rem, -0.913rem + 2.404vw, 1.25rem);
  }
  &__textForUser {
    margin-bottom: clamp(1.25rem, -3.365rem + 7.212vw, 3.125rem);
  }
  &__chartsContainer {
    display: flex;
    column-gap: 33px;
  }

  &__chartsContainer__left {
    display: flex;
    flex-direction: column;
    gap: 33px;
    min-width: 0;
    &__bottom {
      display: flex;
      gap: clamp(1.438rem, -0.101rem + 2.404vw, 2.063rem);
    }
  }

  &__chartsContainer__right {
    .blocErase {
      width: clamp(11.469rem, 0.007rem + 17.909vw, 16.125rem); // 183.5 à 1024 vers 258 à 1440
      height: clamp(5.5rem, -0.038rem + 8.654vw, 7.75rem); // 88 à 1024 vers 124 à 1440
      background-color: black;
    }
  }
}
